<div class="container">
  <div class="row">
    <div class="col-md-3 order-md-1">
      <div class="pt-4 text-center">
        <img class="d-block mx-auto mb-5" src="<%= asset_pack_path 'images/logos/alp-adventures-logo.png' %>" alt="" width="180" height="120">
      </div>
    </div>
    <div class="py-5 col-md-8 order-md-2">
      <h1 class="font-weight-bold">Alps Adventure</h1>
      <h3>5 - 12 February 2019</h3>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <h2 class="font-weight-bold">Congratulations first_name, your booking is complete.</h2>
      <h4 class="mb-5">Select below if you would like to edit your booking</h4>
      <%= link_to 'Edit Booking Details', edit_public_booking_path(@booking), :class => 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
</div>