<div class="container">
  <div class="row">
    <div class="col-md-3 order-md-1">
      <div class="pt-4 text-center">
        <img class="d-block mx-auto mb-5" src="<%= asset_pack_path 'images/logos/alp-adventures-logo.png' %>" alt="" width="180" height="120">
      </div>
    </div>
    <div class="py-5 col-md-8 order-md-2">
      <h1 class="font-weight-bold"><%= @booking.trip_name %></h1>
      <h3><%= "#{@booking.start_date.day} - #{@booking.end_date.day} #{Date::MONTHNAMES[@booking.end_date.month]}" %></h3>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <h2 class="font-weight-bold">Congratulations <%= @booking.name %>, your booking is complete.</h2>
      <h4 class="mb-5">You will receive a confirmation email with your booking details and itinerary.</h4>
    </div>
  </div>
</div>
<!-- TODO: If you don't reeieve the email, please: (1) Click here to resend, or 
(2) contact support: support@bookyourplace.com
-->