<div class="container-fluid page-body-wrapper content">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="col-12">
        <div class="card card-shadow">
          <div class="card-body">
            <div class="row mb-4 border-bottom pb-4">
              <div class="col-1 mr-4 d-sm-none d-md-block d-none">
                <img class="img-lg rounded-circle " src="<%= asset_pack_path 'images/faces/face1.jpg' %>" alt="profile image">
              </div>
              <div class="col-10">
                <h1 class="card-title font-weight-bold mb-1 mt-1"><%= @guest.name %></h1>
                <div class="display-4 font-weight-normal">
                  Alps Adventure:<span class="text-gray"> 5-7 January 2018</span>
                  <%= link_to "View all trips", guides_trips_path, class: "btn btn-primary btn-sm float-right" %>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="col col-md-4 col-lg-3">
                <div class="card-body">
                  <h2 class="card-title font-weight-bold">Contact</h2>
                  <div class="media">
                    <div class="media-body">
                      <address>
                        <h4 class="display4 mb-4">
                          95 Alson Avenue
                          <br> London, N12 4TH
                          <br> England
                        </h4>

                        <h4 class="display4 text-primary">
                          <i class="mdi mdi-phone mr-2"></i> +44 34384 45354354
                          <br><i class="mdi mdi-email mr-2"></i> <%= @guest.email %>
                        </h4>
                      </address>
                      <h4 class="mt-3 mb-2">
                        <span class="font-weight-bold">Booked:</span> 16/01/2017
                      </h4>
                      <h4 class="mb-4">
                        <span class="font-weight-bold">Age:</span> 46 <span class="text-gray">(06/11/1972)</span>
                      </h4>
                      <h4>
                        <i class="mdi mdi-alert-octagon text-warning icon-sm"></i> 
                        <span class="font-weight-bold">Vegetarian</span>
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
                <div class="col-md">
                  <div class="card-body">
                    <h2 class="card-title font-weight-bold">
                      Allergies &amp; Medical Conditions
                    </h2>
                    
                    <div class="media">
                      <div class="media-body">

                        <div class="clearfix border-bottom">
                          <div class="float-left">
                            <i class="mdi mdi-alert-octagon text-warning icon-md"></i>
                          </div>
                          <div class="col ml-4 pt-2">
                              <div class="display-4 font-weight-normal mb-0"><span class="text-warning">Allergy:</span> Penecillin</div>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda accusamus reiciendis beatae, ipsa est nobis, maiores.</p>
                          </div>
                        </div>

                        <div class="clearfix border-bottom">
                          <div class="float-left">
                            <i class="mdi mdi-alert-octagon text-danger icon-md"></i>
                          </div>
                          <div class="col ml-4 pt-2">
                            <div class="display-4 font-weight-normal mb-0"><span class="text-danger">Medical:</span> Epilepsy</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At officiis, inventore pariatur quas est in quibusdam tempora eius reiciendis, magni fugiat ut.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <h2 class="card-title font-weight-bold">
                      Emergency Contact
                    </h2>
                    <div class="media">
                      <div class="media-body">
                        <h4 class="display4 mb-4">
                          Jane Rogers
                        </h4>
                        <address>
                          <h4 class="display4 text-primary">
                            <i class="mdi mdi-phone mr-2"></i> +44 34384 445354
                          </h4>
                        </address>
                        <h4 class="mt-3 mb-2">
                          <span class="font-weight-bold">Relationship:</span> Sister
                        </h4>
                      </div>
                    </div>
                  </div>    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
