<div class="container-fluid page-body-wrapper content">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="card card-shadow">
        <div class="card-body">
          <div class="row mb-4 border-bottom pb-4">
            <div class="col-1 mr-4 d-sm-none d-md-block d-none">
              <img class="img-lg rounded-circle " src="<%= asset_pack_path 'images/faces/face4.jpg' %>" alt="profile image">
            </div>
            <div class="col-10">
              <h1 class="card-title font-weight-bold mb-1 mt-1">Fred Bloggs</h1>
              <h3 class="font-weight-normal">Alps Adventure:<span class="text-gray"> 5-7 January 2018</span></h3>
            </div>
          </div>
          <%= render 'form', guest: @guest %>
          <%= link_to 'Show', @guest %>
        </div>
      </div>
    </div>
  </div>
</div>
