<div class="container-fluid page-body-wrapper content">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-12">
          <div class="card card-shadow mt-5">
            <div class="card-body">
              <h1 class="card-title font-weight-bold mb-4">Welcome</h1>
              <p>
                Click <%= link_to "here", new_guides_welcome_solo_path %> if you are solo founder.
              </p>
              <p>
                Or, <%= link_to "here", new_guides_welcome_company_path %> if you in a company (ie: with multiple owners/directors).
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>