<div class="container-fluid full-height">
  <div class="row row-height">
    <div class="col-lg-4 content-left">
      <div class="content-left-wrapper bg_img bg2">
        <div class="onboard-logo"><img src="<%= asset_pack_path 'media/images/onboarding/logo-lt.svg' %>" alt="Logo"></div>
        <div class="wrapper">
          <div class="mb-5 text-left">
            <h2 class="font-weight-bold">We're going on a journey</h2>
            <!-- <h2>Are you the sole owner or part of a larger company?</h2> -->
          </div> 
        </div>
      </div>
    </div>
    <div class="col content-right">
      <div class="ow-eq-height col-lg-10">
        <div class="col-md-12 mb-5 mt-3">
          <div class="progress">
            <div class="one primary-color"></div>
            <div class="two no-color"></div>
            <div class="three no-color"></div>
            <div class="four no-color"></div>
            <div class="progress-bar" style="width: 20%;"></div>
          </div>
        </div>
        <div class="p-2 col-sm-12 col-md-12 col-lg-8">
          We're going to take you on a journey, where you will hop over to our partner's site, Stripe.com,
          to start your account set up.
          <br>
          You'll be be entering your business details (name, address, etc) and details of all owners/directors in the company, or just your own, if you're a solo founder.
          <br>
          So you'll need:
          <ul>
            <li>Business details...</li>
            <li>Sigificant people details...</li>
            <li>Some form of ID (a scan/photo of your passport or driving license)</li>
            <li>And finally your bank account number so we can pay all your money</li>
          </ul>
          <br>
          Once you're done, you'll be able to take instant card payments from all your new bookings.
          <br>
          Click <%= link_to "here", @hosted_onboarding_url, target: "_blank" %> to start your account set up. This can take up to 15 minutes but you can always save and continute later.        
        </div>
      </div>
    </div>
  </div>
</div>
