<div class="container page-body-wrapper content">
  <div class="main-panel">
    <div class="content-wrapper row mt-3">
        <div class="col-12 mt-5 grid-margin">
          <h1 class="font-weight-bold ml-3 mb-3">
            Edit Trip
          </h1>
          <div class="card card-shadow card-rounded">
            <div class="card-body">
              <div class="row mb-4 justify-content-md-center">
                <div class="col-12">
                  <%= render partial: "form", locals: { url: guides_trip_url(@trip) } %>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
