<div class="container-fluid page-body-wrapper content">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-12 grid-margin">
          <div class="card card-shadow">
            <div class="card-body">
              <div class="row mb-4 justify-content-md-center">
                <div class="col-10">
                  <h1 class="card-title font-weight-bold">
                    Add Trip
                  </h1>
                  <%= render "form" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
