<div class="modal fade display-modal-lg" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="accountModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close dark" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="card col-md-12">
          <div class="card-body p-0 row overflow-hidden">
            <div class="offset-lg-1 col-lg-10">
              <div class="mt-2">
                <div class="text-center">
                  <h1 class="font-weight-bold">Let's set up your account</h1>
                </div>
                <h4 class="mt-4">Your journey is almost complete... You will now hop over to our partner's site, Stripe.com, to set up your account.</h4>
                <p><a href='<%= "https://stripe.com/#{@current_organisation&.country_code || 'gb'}/customers" %>' target="_blank" class="text-primary">Stripe.com</a> handles billions of transactions with world-class security and identity verification. Powering online business for millions of companies around the world.</p>
                <p>You will need:</p>
                <ul class="list-unstyled">
                  <li><i class="fa fa-check text-primary mr-1"></i> Business details (name, address, etc)...</li>
                  <li><i class="fa fa-check text-primary mr-1"></i> Details of significant people within the business...</li>
                  <li><i class="fa fa-check text-primary mr-1"></i> Some form of ID (a scan/photo of passport or driving license)</li>
                  <li><i class="fa fa-check text-primary mr-1"></i> And finally your bank account number, allowing you to receive instant card payments</li>
                </ul>
                <div class="text-center my-4">
                  <%= link_to stripe_account_link, class: "btn btn-primary btn-lg rounded uppercase" do %>
                    Set up my account
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
