body {
  background-color: $white-smoke;
}

.header-fixed .content {
  margin-top: 10px;
}

.navbar-brand {
  width: calc(240px - 7rem) !important;
  > img {
    width: auto;
    height: 30px;
  }
}

.content {
  padding: 32px 2%;
}

.overflow-hidden {
  overflow: hidden;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: $darkslategray;
}

a:hover {
  text-decoration: none;
  color: $black;
}