////////// Fonts //////////

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');


////////// Typography //////////

body {
  font-size: 1rem;
  font-family: $type-1;
  font-weight: initial;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $type-1;
}

p {
  font-size: $default-font-size;
}

.h1,
h1 {
  font-size: 2.4rem;
  letter-spacing: -0.1rem;
}

.h2,
h2 {
  font-size: 1.88rem;
  letter-spacing: -0.05rem;
}

.h3,
h3 {
  font-size: 1.56rem;
}

.h4,
h4 {
  font-size: 1.33rem;
}

.h5,
h5 {
  font-size: 1rem;
}

.h6,
h6 {
  font-size: 0.9375rem;
}


.font-weight-light {
  font-weight: 300;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 600;
}

.text-small {
  font-size: $default-font-size;
}

