////////// COLOURS //////////
$black: #000;
$white: #ffffff;
$white-smoke: #F9F9F9;
$ghost-white: #f7fafc;
$violet: #41478a;
$darkslategray: #2e383e;
$light-gray: #F2F2F2;
$dodger-blue: #42a5f5;
$blue-teal-gradient: linear-gradient(88deg, #318be3, #04befe);
$container-bg-gradient: linear-gradient(60deg, #0099ff, #00ddff);
$blue: #0a65ba;
$primary: #4285f4;
$secondary: #DDD;
$secondary-dark: #a5a5a5;
$success: #00c851;
$danger: #fc3741;
$warning: #ffae00;
$info: #33b5e5;
$white: #ffffff;

////////// TEMPLATE VARIABLES //////////
$content-bg: #f5f5f5;
$footer-bg: $content-bg;
$footer-color: color(dark);
$border-color: #e6e6e6;
////////// TEMPLATE VARIABLES //////////

////////// FONTS //////////
$type-1: 'Source Sans Pro', sans-serif;
$default-font-size: 1rem;
$text-muted: #939393;
$body-color: #444444;
////////// FONTS //////////

////////// buttons //////////
$btn-border-radius: 2px;
// font-sizes
$btn-font-size: 15px;
$btn-font-size-sm: 13px;
$btn-font-size-lg: 17px;
$btn-padding-y: .6rem;
$btn-padding-x: 1.8rem;
$btn-padding-y-sm: .3rem;
$btn-padding-x-sm: 1.5rem;
$btn-padding-y-lg: .8rem;
$btn-padding-x-lg: 2.2rem;

////////// CARDS //////////
$border-property: 1px solid $border-color;
$card-spacing-y: 1.875rem;
$card-padding-y: 1.48rem;
$card-padding-x: 1.01rem;
$cardheader-padding-y: .48rem;
$cardheader-padding-x: .41rem;
////////// CARDS //////////

////////// Responsive sizes //////////
$large-device-width: 1199px; // Large devices (desktops, less than 1200px)
$medium-device-width: 991px; // Medium devices (tablets, less than 992px)
$small-device-width: 767px; // Small devices (landscape phones, less than 768px)
$extra-small-device-width: 575px; // Extra small devices (portrait phones, less than 576px)



