.alert {
  position: fixed;
  width: 96%;
  z-index: 999;
  opacity: 0.9;
  border: 0;
  bottom: -100%;
  margin: 0 2%;
  padding: 0;
  font-size: 1em;
  color: $white;
  line-height: 3em;
  text-shadow: 0;
  border-bottom: solid 3px;
  text-align: center;
  border-radius: 2px;
  animation-name: bottom-alert;
  animation-duration: 10s;
  animation-delay: 0.5s;
  &.alert-success {
    border-color: $green;
    background-color: $green;
    border-color: darken( $green, 10% );
  }
  &.alert-warning {
    background-color: $yellow;
    border-color: $yellow;
    background-color: darken( $yellow, 10% );
  }
  &.alert-danger {
    background-color: $red;
    background-color: $red;
    border-color: darken( $red, 10% );
  }
}

.close {
  color: $white;
  text-shadow: none;
  cursor: pointer;
  &:hover {
    color: $white;
  }
  &:focus {
    color: $white;
  }
}

@keyframes bottom-alert {
  0% {bottom: -100px;}
  5% {bottom: 10px;}
  95% {bottom: 10px;}
  100% {bottom: -100px;}
}
