.bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-skew {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-5deg);
    transform-origin: top left;
    z-index: -1;
    background: linear-gradient(
      to top,
      rgba(30, 60, 114, 0.95) 0%,
      rgba(30, 60, 114, 0.95) 1%,
      rgba(42, 82, 152, 0.95) 100%
    );
  }
  &.bg-skew-light::before {
    background: $white;
  }
}


