
.card {
  border: 0;
  overflow: visible;
  @include border-radius(2px);
    .card-body {
      padding: $card-padding-y $card-padding-x;
      + .card-body {
        padding-top: 0;
      }
      .border-bottom {
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }
  }
  .card-header {
    padding: $cardheader-padding-y $cardheader-padding-x;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
    margin-top: 12px;
    background-color: #fff;
  }
  .pointer {
    cursor: pointer;
  }
  &.card-outline-success{
    border: 1px solid theme-color("success");
  }
  &.card-outline-primary{
    border: 1px solid theme-color("primary");
  }
  &.card-outline-warning{
    border: 1px solid theme-color("warning");
  }
  &.card-outline-danger{
    border: 1px solid theme-color("danger");
  }
  &.card-rounded{
    @include border-radius(12px);
  }

  &.card-faded {
    background: #b5b0b2;
    border-color: #b5b0b2;
  }
  &.card-shadow {
    box-shadow: 0 6px 14px 0px rgba(0, 0, 0, 0.1);
  }
}

.accordion > .card {
  overflow: visible;
  .card-header {
    margin-bottom: 0px;
  }
} 

.guest-link-container {
  border-bottom: solid 1px $light-gray;
}

/*  Trips view accordian icons */
[data-toggle="collapse"] .fa-chevron-circle-down:before {  
  content: "\f183";
  font-size: 20px;
}

[data-toggle="collapse"].collapsed .fa-chevron-circle-down:before { 
  content: "\f180";
}

/*  Trips view accordian guest hover */
.ticket-card {
  border-bottom: solid 1px $light-gray;
  &:hover {
    background-color: #f7fafc;
    cursor: pointer;
  }
  &:active {
    background-color: #f7fafc; 
  }
}

a.test:hover .avatar {
  transform: scale(1.06);
}

.avatar {
  transition: 0.2s;
  margin: 0 0 0 14px;
}
