input[type=text].clipboard-input {
  border: 1px solid $white-smoke;
  background-color: $white;
  width: 130px;
}

.message {
  font-size: 12px;
  display: flex;
  align-items: center; 
  opacity: 0; 
  transition: .3s ease-in;
}

.copied {
  opacity: 1;
  animation: opacity linear 1s;
}

@include media-breakpoint-down(md) {
  .input-group-append {
    margin-top: 10px
  }
}