.clipboard-input {
  font-size: 75%;
  float: right;
  -webkit-user-select: all; 
  user-select: all;
}

.message {
  font-size: 12px;
  display: flex;
  align-items: center; 
  opacity: 0; 
  transition: .3s ease-in;
}

.outer-text-wrapper {
  width: 200px;
  color: shade($light-gray, 10%);
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  background-color: $white-smoke;
  border-right: 0;
  padding: 5px 8px 5px 5px;
}

.copied {
  opacity: 1;
  animation: opacity linear 1s;
}

.edit-trip-link:first-of-type {
  margin-right: 4px;
}

@include media-breakpoint-up(sm) {
  .edit-trip-link {
    float: right;
    margin: 0 0 0 4px;
  }
}

@include media-breakpoint-down(md) {
  .input-group-append {
    margin-top: 10px
  }
}