.flag-icon-background, .flag-icon {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat; 
}

.flag-icon {
  width: 1.14286em;
  line-height: 0.88em; 
}

.flag-icon.flag-icon-circled {
  border-radius: 50%;
  border: solid 1px white;
  width: 1em;
}

.flag-icon-profile {
  position: absolute;
  left: 33px;
  top: -5px;
}