.onboard-message {
  padding: 8px 10px 8px 14px;
  text-align: left;
  font-size: .875rem;
  line-height: 1.8em;
  color: $darkslategray;
  background-color: $white-smoke;
  background-clip: padding-box;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  border-color: darken($light-gray, 15%);
  border-radius: .25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  &.fullwidth {
    width: 100%;
    margin: 12px 0;
  }
  a {
    color: $blue;
  }
  a:hover {
    color: $blue;
    text-decoration: underline;
  }
}

