
#summary {
  p {
    &.collapse:not(.show) {
      height: 26px !important;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
    &.collapsing {
      min-height: 26px !important;
    }
  }
  a {
    &.collapsed:after {
      content: 'Read More';
      color: $white;
      font-weight: bold;
    }
    &:not(.collapsed):after {
      content: 'Read Less';
      color: $white;
      font-weight: bold;
    }
  }
}
