
[data-tooltip] {
  display: inline-block;
  position: relative;
  padding: 4px;
  &:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: $darkslategray;
    color: $white;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.4;
    min-width: 120px;
    text-align: center;
    border-radius: 4px;
    letter-spacing: 0rem;
  }
  &:hover {
    &:before {
      display: block;
      z-index: 50;
    }
  }
}
[data-tooltip-position="top"] {
  &:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 100%;
    margin-bottom: 12px;
  }
}

[data-tooltip-position="bottom"] {
  &:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 100%;
    margin-top: 12px;
  }
}
