<!-- navbar -->

<nav class="navbar page-header">
  <a class="navbar-brand" href="#">
    <img src="<%= asset_pack_path 'images/logo.svg' %>" />
  </a>
  <% if guide_signed_in? %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% #TODO: replace with real data %>
          <span class="ml-1 d-md-down-none">Mountain Trek Ltd.</span>
          <img src="<%= asset_pack_path 'images/faces/face1.jpg' %>" class="avatar avatar-sm" alt="logo">
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <i class="fa fa-user"></i> Manage Account
          </a>
          <a href="#" class="dropdown-item">
            <i class="fa fa-wrench"></i> Add Trip
          </a>
          <%= link_to(destroy_guide_session_path, method: :delete, class: "dropdown-item") do %>
            <i class="fa fa-lock"></i> Sign Out
          <% end %>
        </div>
      </li>
    </ul>
  <% else %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <%= link_to(new_guide_session_path) do %>
          <i class="fa fa-lock"></i> Sign In
        <% end %>
      </li>
    </ul>
  <% end %>
</nav>
